* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #dec9c9;
  position: fixed;
}

.upper {
  width: 100vw;
  height: 6vh;
  /* background-color: #fff; */
  margin-top: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.leftnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  margin-left: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

ul {
  margin-left: 50px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.Payment{
    border-bottom: 1px solid black;
}

.rightnav {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightnav > a,
a , h5 {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.bottom{
    width: 100vw;
    height: 94vh;
    display: flex;
}

.left{
    width: 15vw;
    height: 30vh;
    padding: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.left > h1{
    font-size: 20px;
    font-weight: 300;
    color: rgb(113, 92, 92);

    }

    .card{
        display: flex;
        flex-direction: column;
    } 

.left  h6{
    font-size: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.cc{
    display: flex;
    gap: 30px;
    background-color: wheat;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
}


.cc > i {
    margin-top: 3px;
}

.dc{
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    gap: 35px;
}


.nb{
    margin-left: 10px;
    display: flex;
    gap: 35px;
}

.w{
    margin-left: 10px;
    display: flex;
    gap: 35px;
}

.card  h6{
    font-size: 20px;
    font-weight: 500;
}

.center{
    width: 50vw;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
}

.top{
    width: 50vw;
    height: 50vh;
    background-color: silver;
    border-radius: 10px;
    position: fixed;
}

.cardno{
        width: 47.5vw;
        height: 45vh;
        background-color: white;
        margin-top: 20px;
        border-radius: 8px;
        margin-left: 20px;
        padding: 10px;
}
.cardno h3{
    font-family: sans-serif;
    color: navy;
}

hr{
    margin-top: 10px;
}

input{
    margin-top: 20px;
    width: 650px;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 70px;
}

.myc > input {
    width: 168px;
    margin-left: 70px;
}

.check > input{
    width: 20px;
    margin-top: 5px;
}

.check > h4{
    margin-left: 100px;
    margin-top: -38px;
}

button{
    width: 500px;
    height: 50px;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: burlywood;
    font-size: 15px;
}

img{
    margin-left: 50px;
    width: 27vw;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
    
}